@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sa;

}

:root{
    --yellow: #FF8C00;
    --black: #9200c7;
    --cyan: #00FFFF;
    --border: #00FFFF;
    --secondary: #808088;
    --text: #ff9100;

}

.container{
    margin-left: 20px;
    margin-right: 20px;

}
.back-button{
    background-color: var(--yellow);
    color: var(--cyan);
    padding: 8px 0;
}

.back-button img{
    position: relative;
    top: 3px;
    margin-right: 5px;
}


.light-success-text{
    font-weight: 400;
    color: var(--cyan)
}
.header{
    background-color: rgb(255, 208, 1);
    padding: 10px 0;
    width: 100%;
    /* position: fixed; */

}

.mobile-block{
    min-height: 100vh;
    padding-top: 55px;
}

.btn-category{
    cursor: pointer;
}

.mobile-block__header {
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    color: var(--yellow);
}

.is-secondary{
    background-color: var(--secondary);
}

.is-success{
    background-color: var(--secondary);
}


.is-warning{
    background-color: var(--secondary);
}


.news-card{
    text-decoration: none;
    display: block;
    color: var(--secondary);
    padding: 15px 0;
    border-bottom: 1px solid var(--cyan);
    cursor: pointer;
    
}

.news-card__title{
    font-size: 12px;
    margin-bottom: 8px;
}
.post-detail-block{
    padding: 30px 0;
}
.news-card__date, .news-card__category{
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--yellow)
}
.description{
    font-size: 12px;
}
.post-detail-block .news-card__title, .post-detail-block .news-card__date{
    margin-bottom: 15px;
    cursor: pointer;
}
.description{
    font-size: 12px;
    margin-bottom: 15px;
}

.post-detail-block img{
    width: 100%;
    margin-bottom: 30px;
}
.author{
    display: block;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 400;
}

.tag-button{
    padding: 10px 45px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    cursor: pointer;

}


.block-div-test{
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
}




.category-row{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;



}


.category-item{
    border: 1.5px solid var(--yellow);
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}


.category-item:hover{
    background-color: var(--text)
}

.category-item__img, .category-item__title{
    display: block;
}

.category-item__img{
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.category-item__title{
    font-size: 12px;
}